.login {
  display: flex;
  height: 76vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.PolaBackgr {
  width: 40%;
  height: 76vh;
  background-image: url("../../../public/Img/Polka.png");
  background-size: cover;
  background-position: center;
}

.inputContainer {
  position: absolute;
}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

.inputContainer h2 {
  color: white;
}

.button {
  display: inline-block;
  background-color: #ff5500;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  border: none;
  font-size: inherit;
  letter-spacing: 2px;
  cursor: pointer;
}

.passwordToggle {
  background-color: #979393;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  border: none;
  font-size: inherit;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 5px;
}

.account {
  display: flex;
  flex-direction: column;
}

@media (max-width: 450px) {
  .login {
    background-image: url("../../../public/Img/Polka.png");
    background-size: cover;
    background-position: center;
    height: 73vh;
  }

  .PolaBackgr {
    display: none;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    height: 73vh;
    justify-content: space-evenly;
    align-items: center;
  }

  .login p {
    margin: 0;
    letter-spacing: 2px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
  }
}

@media (min-width: 451px) and (max-width: 1000px) {
  .login {
    background-image: url("../../../public/Img/Polka.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    height: 61vh;
  }

  .PolaBackgr {
    display: none;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    height: 61vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
  }

  .inputContainer h2 {
    margin: 0;
    color: #333;
  }

  .login p {
    margin: 0;
    letter-spacing: 2px;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: #333;
  }

  .button {
    margin: 5px 0;
    padding: 5px;
    min-width: 120px;
  }

  .passwordToggle {
    min-width: 120px;
  }
}
