.login {
  display: flex;
  height: 76vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.loginPic {
  width: auto;
}

.PolaBackgr {
  width: 30%;
}

.form input {
  display: block;
  width: 100%;
  padding: 10px;
}

.inputContainer h2 {
  color: white;
}

.button {
  display: inline-block;
  background-color: #ff5500;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  border: none;
  font-size: inherit;
  letter-spacing: 2px;
  cursor: pointer;
}

.passwordToggle {
  background-color: #979393;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  border: none;
  font-size: inherit;
  letter-spacing: 2px;
  cursor: pointer;
}

@media (max-width: 450px) {

.login {
  background-image: url("../../../public/Img/Polka.png");
  background-size: cover;
  background-position: center;
}

.PolaBackgr {
  display: none;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  height: 76vh;
  justify-content: space-evenly;
  align-items: center;
}

.login p {
  margin: 0;
    letter-spacing: 2px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}
 
}
