
.registration {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .button {
    display: inline-block;
    background-color: #ff5500;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    border:none;
  }