.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
  text-align: center;
  color: #333;
  padding: 20px;
  background: linear-gradient(
    346deg,
    rgba(255, 110, 159, 1) 5%,
    rgba(255, 255, 255, 1) 39%,
    rgba(122, 146, 254, 1) 93%
  );
}

.text {
margin-right: 50px;
}

h2 {
  font-size: 28px;
  margin: 10px;
}

.button {
  display: inline-block;
  background-color: #ff5500;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bold;
}
