section {
  display: flex;
}

.contentLogIn {
  flex: 1;
  height: 76vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
background: rgb(255,110,159);
background: linear-gradient(346deg, rgba(255,110,159,1) 5%, rgba(238,249,250,1) 24%, rgba(122,146,254,1) 93%);
}

.text {
  margin-right: 50px;
  max-width: 710px;
}

.text h2 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #fff;
}
 
.text p {
  color: #333;;
}

.button {
  display: inline-block;
  background-color: #ff5500;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 5px;
}



@media (max-width: 450px) {
  .contentLogIn {
    height: 73vh;
  }
  }