.Pets {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .input {
    display: block;
    width: 80%;
    margin-bottom: 10px;
    background-color: -internal-light-dark(rgb(232, 240, 254)),
  }
    .input select {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
    }
  
  .button {
    display: inline-block;
    background-color: #ff5500;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
    border: none;
    font-size: inherit;
    letter-spacing: 2px;
    cursor: pointer;
  }

  .PetList {
    width: 40vw;
    font-size: large;
    display: flex;
    flex-direction: column;
  }

  .InputContainer {
    width: 40vw;
    padding-left: 30px;
  }

  .delete {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
    border: none;
    font-size: inherit;
    letter-spacing: 2px;
    cursor: pointer;
  }

  .child {
    display: flex;
    flex-direction: row;
    font-size: 28px;
    margin-bottom: 5px;
  }
