.weatherContainer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0;
  }
  
  .weatherInfo {
    display: flex;
    flex-direction: row;
  }
  
  .weatherInfo >p {
    padding: 0px 25px;
    letter-spacing: normal;
    font-weight: normal;
  }

@media (max-width: 1000px) {
  .weatherInfo >p {
    padding: 0px 5px;
  }
}
