.login {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 76vh;
  align-items: center;
  justify-content: center;
  width: 100vw;

}

form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  background-color: #ff5500;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  border: none;
  font-size: inherit;
  letter-spacing: 2px;
  cursor: pointer;
}
.passwordToggle {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  border: none;
  font-size: inherit;
  letter-spacing: 2px;
  cursor: pointer;
}

@media (max-width: 450px) {
  form input {
    width: auto;
    padding: 10px;
    margin-bottom: 0px;
  }
}
