.logoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73vh;
  width: 100vw;
}

@media (min-width: 451px) and (max-width: 1000px){
  .logoutContainer {
    height: 61vh;
  }

}
