header {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  height: 13vh;
}

h1,
p {
  margin: 10px 0px;
  letter-spacing: 2px;
}

.link {
  color: white;
  text-decoration: none;
}

.nav {
  text-align: end;
  margin-top: 10px;
  font-weight: 700;
}

.nav > * {
  padding: 0px 25px;
}
