.header {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0;
  height: 14vh;
  /* width: 100vw; */
  justify-content: space-evenly;
}

.helloUser {
  background: linear-gradient(
    346deg,
    rgba(255, 110, 159, 1) 5%,
    rgba(238, 249, 250, 1) 24%,
    rgba(122, 146, 254, 1) 93%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.loggedLinks > *,
.nav > * {
  padding: 0 25px;
}

h1,
p {
  margin: 0;
  letter-spacing: 2px;
}

.link {
  color: white;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px;
  text-align: end;
  font-weight: 700;
}

.bump {
  color: #ff5500;
}

@media (max-width: 450px) {
  .secondTitle {
    font-size: 14px;
  }

  .nav {
    flex-direction: column;
  }

  .header {
    height: 17vh;
  }

  .loggedLinks {
    padding-bottom: 5px;
  }

  .title {
    font-size: 30px;
  }
}

@media (min-width: 451px) and (max-width: 1000px) {
  .secondTitle {
    font-size: 14px;
  }

  .nav {
    flex-direction: row;
    padding: 0;
  }

  .header {
    height: 24vh;
  }

  .loggedLinks > *,
  .helloUser {
    padding: 0 6px;
  }

  .title {
    font-size: 30px;
  }

  .nav > * {
    padding: 0;
  }
}
