.Map {
  height: 76vh;
  width: 100vw;
}

.mapContainer {
  height: 100%;
  width: 100%;
}

.distance {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 12px;
}

.walkInfo {
 text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  border-radius: 4px;
  width: fit-content;
  position: inherit;
  top: 10px;
  left: 70vw;
  max-height: 70vh;
  overflow-y: scroll;
}

.walkInfo ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}

.walkInfo li {
  padding-bottom: 10px;
}

.renderedPic {
  width: 100px;
  height: auto;
  margin: 0;
  border-radius: 50%;
}

.walksContainer {
  font-family: "Dosis", sans-serif;
  background-color: rgb(232, 240, 254);
  width: 30vw;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  color: rgb(74, 73, 73);
}

.joinersSelect {
  max-width: 20vw;
}

.petContainer {
  display: flex;
  align-items: center;
}

.saveContainer {
  display: flex;
  align-items: center;
}

.buttonSave {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ff5500;
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  border: none;
  font-size: inherit;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 10px 0;
}

.share {
  height: 40px;
  display: flex;
  padding: 10px;
  margin: 0;
  background-color:rgba(122, 146, 254);
  border-radius: 4px;
  border: none;
  margin: 10px 0;
}

.shareLogo {
  height: 20px;
  padding: 0;
  margin: 0;
}

.joiners {
 display: flex;
  justify-content: center;
  background: rgba(122, 146, 254);
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  border: none;
  font-size: inherit;
  letter-spacing: 2px;
  margin-bottom: 10px;
  width: auto;
}

@media (max-width: 450px) {
  .Map {
    height: 73vh;
  }

  .walkInfo {
    max-width: 47vw;
    top: 10px;
    left: 50vw;
    padding: 1vw;
  }

  .joinersSelect, .walksContainer {
    max-width: none;
    width: auto;
  }
}

@media (min-width: 451px) and (max-width: 1000px) {
  .Map {
    height: 61vh;
  }

  .distance {
    top: 5px;
    width: auto;
  }

  .walkInfo {
    max-width: 60vw;
    max-height: 55vh;
    top: 5px;
    left: 63vw;
  }

  .walksContainer {
    margin: 1px;
    padding: 1px;
  }

  .buttonSave,
  .buttonX,
  .share {
    padding: 5px;
  }
  .shareLogo {
    height: 10px;
  }

  .share {
    height: 30px;
    align-items: center;
  }
}
